Checks: '-*,
         bugprone-*,
         clang-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-type-vararg,
         misc-*,
         -misc-no-recursion,
         modernize-*,
         -modernize-use-trailing-return-type,
         -modernize-pass-by-value,
         openmp-*,
         performance-*,
         portability-*,
         readability-*,
         -readability-redundant-access-specifiers,
         -readability-else-after-return,
         -readability-named-parameter'
