Checks: '-*,
         bugprone-*,
         clang-*,
         cppcoreguidelines-*,
         misc-*,
         modernize-*,
         openmp-*,
         performance-*,
         portability-*,
         readability-*,
         -misc-no-recursion,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -misc-non-private-member-variables-in-classes,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-type-vararg,
         -modernize-use-trailing-return-type,
         -modernize-pass-by-value,
         -readability-redundant-access-specifiers,
         -readability-else-after-return,
         -readability-uppercase-literal-suffix,
         -readability-named-parameter'

CheckOptions:
- key: readability-magic-numbers.IgnoredFloatingPointValues
  value: '1.0;2.0'
- key: cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
  value: '1.0;2.0'
