[Desktop Entry]
Type=Application
Comment=Semantic, procedural, non-destructive vector modelling 
Name=ommpfritt
Exec=ommpfritt
Icon=ommpfritt
Categories=Graphics;
