name: Build on Windows 2019
on: [push]
jobs:
  Build-lib2geom-Win2019:
    runs-on: windows-2019
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            make
            python
            git
            base-devel
            mingw-w64-x86_64-boost
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-cython
            mingw-w64-x86_64-dlfcn
            mingw-w64-x86_64-double-conversion
            mingw-w64-x86_64-gsl
            mingw-w64-x86_64-gtk3
            mingw-w64-x86_64-gtkmm3
            mingw-w64-x86_64-icu
            mingw-w64-x86_64-imagemagick
            mingw-w64-x86_64-kitemmodels-qt5
            mingw-w64-x86_64-libffi
            mingw-w64-x86_64-libdeflate
            mingw-w64-x86_64-libwebp
            mingw-w64-x86_64-mesa
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-nsis
            mingw-w64-x86_64-openssl
            mingw-w64-x86_64-poppler
            mingw-w64-x86_64-python
            mingw-w64-x86_64-python-pytest
            mingw-w64-x86_64-qt5
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-zlib
      - run: git clone https://gitlab.com/inkscape/lib2geom.git
      - run: cd lib2geom; git checkout 37876ed4; cd ..
      - run: cmake -S lib2geom
                   -B build-lib2geom
                   -G"MSYS Makefiles"
                   -D2GEOM_TESTING=OFF
                   -DCMAKE_INSTALL_PREFIX=${{ env.GITHUB_WORKSPACE }}/lib2geom-install
      - run: cmake --build build-lib2geom --target install --config Release
      - uses: actions/upload-artifact@v2
        with:
          name: lib2geom-win2019
          path: lib2geom-install
      - uses: actions/checkout@v2
      - run: cmake -S .
                   -B build
                   -G"MSYS Makefiles"
                   -DCMAKE_BUILD_TYPE=Release
                   -DCMAKE_PREFIX_PATH=${{ env.GITHUB_WORKSPACE }}/lib2geom-install
                   -DGENERATE_ICONS=OFF
                   -DBUILD_TESTING=OFF
      - run: cmake --build build
                   --target package
                   --config Release
                   -j4
